<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <!-- Custom style -->
    <link href="~/Content/steveStyles.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ARCC Proposals", "Index", "ProposalScores", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @{
                        if (Session["Username"] != null)
                        {
                            if (Session["Username"].Equals("admin@admin.com"))
                            {
                                <li>@Html.ActionLink("Users", "Index", "Users")</li>
                                <li>@Html.ActionLink("Proposals", "Index", "Proposals")</li>
                                <li>@Html.ActionLink("Scores", "Index", "Scores")</li>
                            }
                            <li>@Html.ActionLink("Log Out", "Logout", "Users")</li>
                        }

                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="dialogPlaceholder"></div>
    <div class="container body-content">

        @RenderBody()
        <hr />

    </div>
    <div>
        <footer style="text-align:center" class="">
            <p>&copy; 2017 - Steve Julien</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
